@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111; /* Void Black */
  color: #f3f3f3; /* Concrete White */
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
